body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(5, 90, 227), rgb(77, 194, 77) );
    width: 98vw;
    height: 100vh;
}

.divPrincipal{
    position: fixed;
    width: 30vw;
    padding: 30px 70px 30px 70px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: rgba(48, 12, 5, 0.299);
    border-radius: 20px;
}
.areaDeTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.inputs{
    margin-top: 8px;
    padding: 4px;
    padding-left: 10px;
    height: 40px;
    width: 175px;
    border-radius: 15px;
    border: 0;
    background-color: rgba(127, 255, 153, 0.334);
    cursor:pointer;
    color: aliceblue;
}
.inputs::-webkit-input-placeholder {
    color: rgb(211, 219, 226);
 }
label,h2{
    margin-right: auto;
    font-weight: 300;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}
h2{
    font-size: 40px;
    text-align: center;
}
.divBotaoEnviar{
    text-align: center;
}
.botao{
    background-color: rgb(52, 34, 58);
    color: aliceblue;
    border-radius: 20px;
    font-size: 25px;
    padding: 15px;
    border: 0;
    transition: 1.5s;
}
.botao:hover{
    background-color: rgb(121, 25, 47);
    cursor: pointer;
}
